<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Optima</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'style/font.css' %}">
     <link rel="stylesheet" href="{% static 'style/head_bg.css' %}">
     <link rel="stylesheet" href="{% static 'style/slaider.css' %}">
     <link rel="stylesheet" href="{% static 'style/calculator_text.css' %}">
     <link rel="stylesheet" href="{% static 'style/foot.css' %}">
     <!-- В этом файле так же адаптив -->
     <link rel="stylesheet" href="{% static 'style/main_block.css' %}">
 </head>
 <body>
     <body>
         <div class="js_overlay"></div>
         {% include 'template/head.html' %}
         <!-- По сути костыль который нужен для отступа эллемента... -->
         <div class="indent_1"></div>
         <div class="container main">
             <!-- slaider -->
             <div class="ball_slaider_block pc">
                 <a href="../"><div class="ball_slaider"></div></a>
                 <a href="../rio/"><div class="ball_slaider"></div></a>
                 <a href="../sportage/"><div class="ball_slaider"></div></a>
                 <a href="../optima/"><div class="ball_slaider active_slide"></div></a>
             </div>
             <div class="row">
                 <div class="col"> <h1 id="global_name">OPTIMA</h1></div>
             </div>
             <!-- По сути костыль который нужен для отступа эллемента... -->
             <div class="indent_2"></div>

              <!-- img -->
              <div class="row pc">
                  <div class="col">
                      <img src="{% static 'images/KIA_main.png' %}" alt="KIA" id="KIA_main" style="width:130%; margin-left: -20%;">
                  </div>
              </div>
              <div class="row pc">
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="border_block_left">
                          <img class="bildbord" src="{% static 'images/bilborder.png' %}" alt="">
                          <p class="text_title_min">Выгода до</p>
                          <p class="text_title_max">120 000 руб</p>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="border_block_right">
                          <img class="bildbord" src="{% static 'images/bilborder.png' %}" alt="">
                          <p class="text_title_min">Осталось в продаже</p>
                          <p class="text_title_max">8 автомобилей</p>
                      </div>
                  </div>
               </div>

               <!-- адаптив под мобилки -->
                <div class="row mobile">
                   <div class="col kia_main_mobile">
                       <img src="{% static 'images/kia_main_mobile.png' %}" alt="KIA" id="KIA_main">
                   </div>
                </div>
                <div class="row mobile">
                  <a href="../rio/" class="slider_main_list_mobile mobile"><img class="main_sale_mobile" src="{% static 'images/main_sale_mobile.png' %}" alt=""></a>
                  <div class="border_block_right">
                      <p class="text_title_min">Осталось в наличии</p>
                      <p class="text_title_max">8 автомобилей</p>
                      <br>
                  </div>
                  <div class="border_block_left">
                      <p class="text_title_min">Выгода до</p>
                      <p class="text_title_max">120 000 руб</p>
                  </div>
                </div>
              <!-- По сути костыль который нужен для отступа эллемента... -->
          <div class="indent_3"></div>
          <!-- Кнопки -->
          {% include 'template/button.html' %}


          <!-- line_price -->
          <div class="row" >
              <div class="col" style="text-align: center"> <img src="{% static 'images/active.png' %}" alt="" class="line_price"> </div>
          </div>
      </div>
      {% include 'template/slaider.html' %}
      {% include 'template/calculator.html' %}
      {% include 'template/foot.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/callback_call.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/slaider.js' %}" charset="utf-8"></script>
    </body>
</html>
