.bot {
    position: static;
    margin-top: 100px;
    width: 100%;
    height: 70px;   /* Высота блока "footer" */
}
.bot_text{
    font-family: "KiaM";
    margin-left: 4%;
    margin-right: 4%;
    position: relative;
    text-align: center;
    display: inline;
    /* margin: 40px; */
}
