* { box-sizing: border-box;margin: 0;padding: 0; }

.slider {
 width: 100%;
 height: 550px;
 overflow: hidden;
 position: relative;
}

.slider__arrow {
 width: 20%;
 height: 700px;
 position: absolute;
 top: 0;
 text-align: center;
 line-height: 20px;
 color: #282732;
 z-index: 200;
 cursor: pointer;
}

.slider__left { left: 0; }
.slider__right { right: 0; }

.slider__container {
 width: 200%;
 height: 500px;
 position: absolute;
 top: 0;
 left: 0;
}

.slider__item {
    border-radius: 20px;
    margin: 0.8%;
    width: 8.4%;
    height: auto;
    background: #FDF8F5;
    display: block;
    float: left;
    text-align: center;
    color: #282732;
}
.text{
    position: relative;
    color: #282732;
    font-size: 20px;
    z-index: 1;
}
.bg_slide{
    position: relative;
    right: -80px;
    top: -1000px;
    width: 40%;
    height: 500%;
    z-index: 0;
    opacity: 0.3;
}
/* Выделение блока */
.slider__item:hover {
    transition:  .4s;
    box-shadow: 0 14px 28px rgba(204,42,47,0.45), 0 10px 10px rgba(204,42,47,0.45);
}
.slider__arrow.hide{
display: none;
}
.slider {
margin: 20px auto;
}
.slider__container.animate{
transition: left .7s;
}
.slider__container.left{
left: -20%;
}

.car_slider {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: auto;
    width: 100%;
}
.car_name {
    position: relative;
    font-size: 27px;
    font-family: "KIAM";
    color: rgb(179, 16, 28);
    line-height: 2;
    text-align: center;
}

.remainder{
    font-size: 17px;
    font-family: "Tahoma";
    line-height: 1.1;
    position: relative;
    color: black;
    text-align: center;
}
.remainder_b{
    font-size: 17px;
    font-family: "Tahoma";
    line-height: 1.1;
    position: relative;
    color: black;
    text-align:center;
    font-weight: 700;
}
.discount{
    position: relative;
    border: 3px solid #C12424;
    border-radius: 5px;
    background: #FDF8F5;
    font-size: 22px;
    text-align: center;
    line-height: 2;
    color: #C12424;
    width: 80%;
    /* центрирование */
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}
/* .discount:hover{background: #6D2642;}
.discount:active { background: rgb(152,15,0); } */

.img_slaider_solo{
    position: relative;
    margin-top: 0;
    margin: 6%;
    width: 18%;
    transition: 0.3s;
}
.img_slaider_solo:hover{
    opacity: 0.5
}
.shadow_slider_left{
    left: 0%;
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 110;
    background-image: linear-gradient(to right, #580303 25%, transparent 100%);
    background-size: cover;
    background-position: center;
}
.shadow_slider_right{
    right: 0%;
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 110;
    background-image: linear-gradient(to left, #580303 25%, transparent 100%);
    background-size: cover;
    background-position: center;
}
.img_shadow_slider_left {
    z-index: 10;
    background-image: linear-gradient(to right, #680A0A 50%, transparent 100%);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}
.img_shadow_slider_right {
    z-index: 10;
    background-image: linear-gradient(to left, #680A0A 50%, transparent 100%);
    background-size: cover;
    background-position: center;
}
