{% load static %}
<div class="row">
    <div class="col-sm-12 col-md col-lg col-xl">                   <a href="#"><div class="button"><span class="button_text">Тест-драйв</span> <img class="button_icon" src="{% static 'images/test-drive.png' %}" alt="Тест драйв"></div></a></div>
    <div class="col-sm-12 col-md col-lg col-xl margin_button_left"><a href="#"><div class="button"><span class="button_text">Подробнее</span> <img class="button_icon" src="{% static 'images/info.png' %}" alt="Подробнее"></div></a></div>
    <div class="col-sm-12 col-md col-lg col-xl margin_button_left"><a href="#"><div class="button"><span class="button_text">Консультация</span> <img class="button_icon" src="{% static 'images/support.png' %}" alt="Консультация"></div></a></div>
</div>
