{% load static %}
<div class="row main_link">
    <div class="col-sm-12 col-md col-lg col-xl js_button_click_active_test">                   <a href="#"><div class="button"><span class="button_text">Тест-драйв</span> <img class="button_icon" src="{% static 'images/test-drive_mobile.svg' %}" alt="Тест драйв"></div></a></div>
    <div class="callback_form_test js_form_test">
        <br>
        <p class="callback_top_text">Записаться на тест-драйв</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="name" placeholder="KIA Optima" class="input_callback"/><br>
            <input type="text" name="name" placeholder="Имя*" class="input_callback"/><br>
            <input type="text" name="phone" placeholder="Телефон*" class="input_callback"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_callback"/><br>
            <button type="button" name="button" class="callback_button_in_form">Отправить</button>
            <br>
            <input type="checkbox" name="checkbox" value="" checked>
            <span class="personal_text">Я соглен с условиями обработки <a href="#" class="personal_text_link">персональных данных</a></span>
            <div class="close_window js_button_click_close"></div>
            <br>
        </form>
    </div>

    <div class="col-sm-12 col-md col-lg col-xl margin_button_left js_button_click_active_more"><a href="#"><div class="button"><span class="button_text">Подробнее</span> <img class="button_icon" src="{% static 'images/info_mobile.svg' %}" alt="Подробнее"></div></a></div>
    <div class="callback_form_more js_form_more">
        <br>
        <p class="callback_top_text">Получить подробную информацию</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="name" placeholder="KIA Optima" class="input_callback"/><br>
            <input type="text" name="name" placeholder="Имя*" class="input_callback"/><br>
            <input type="text" name="phone" placeholder="Телефон*" class="input_callback"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_callback"/><br>
            <button type="button" name="button" class="callback_button_in_form">Отправить</button>
            <br>
            <input type="checkbox" name="checkbox" value="" checked>
            <span class="personal_text">Я соглен с условиями обработки <a href="#" class="personal_text_link">персональных данных</a></span>
            <div class="close_window js_button_click_close"></div>
            <br>
        </form>
    </div>

    <div class="col-sm-12 col-md col-lg col-xl margin_button_left js_button_click_active_consule"><a href="#"><div class="button"><span class="button_text">Консультация</span> <img class="button_icon" src="{% static 'images/support_mobile.svg' %}" alt="Консультация"></div></a></div>
    <div class="callback_form_consul js_form_consule">
        <br>
        <p class="callback_top_text">Оставить заявку для консультации</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="name" placeholder="Имя*" class="input_callback"/><br>
            <input type="text" name="phone" placeholder="Телефон*" class="input_callback"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_callback"/><br>
            <button type="button" name="button" class="callback_button_in_form">Отправить</button>
            <br>
            <input type="checkbox" name="checkbox" value="" checked>
            <span class="personal_text">Я соглен с условиями обработки <a href="#" class="personal_text_link">персональных данных</a></span>
            <div class="close_window js_button_click_close"></div>
            <br>
        </form>
    </div>
</div>

<div class="row mobile_interior_link">
    <div class="col js_button_click_active_test"><a href="#"><div class="button"><span class="button_text">Тест-драйв</span> <img class="button_icon" src="{% static 'images/test-drive_mobile.svg' %}" alt="Тест драйв"></div></a></div>
    <div class="callback_form_test js_form_test">
        <br>
        <p class="callback_top_text">Записаться на тест-драйв</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="name" placeholder="KIA Optima" class="input_callback"/><br>
            <input type="text" name="name" placeholder="Имя*" class="input_callback"/><br>
            <input type="text" name="phone" placeholder="Телефон*" class="input_callback"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_callback"/><br>
            <button type="button" name="button" class="callback_button_in_form">Отправить</button>
            <br>
            <input type="checkbox" name="checkbox" value="" checked>
            <span class="personal_text">Я соглен с условиями обработки <a href="#" class="personal_text_link">персональных данных</a></span>
            <div class="close_window js_button_click_close"></div>
            <br>
        </form>
    </div>

    <div class="col margin_button_left js_button_click_active_more"><a href="#"><div class="button"><span class="button_text">Подробнее</span> <img class="button_icon" src="{% static 'images/info_mobile.svg' %}" alt="Подробнее"></div></a></div>
    <div class="callback_form_more js_form_more">
        <br>
        <p class="callback_top_text">Получить подробную информацию</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="name" placeholder="KIA Optima" class="input_callback"/><br>
            <input type="text" name="name" placeholder="Имя*" class="input_callback"/><br>
            <input type="text" name="phone" placeholder="Телефон*" class="input_callback"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_callback"/><br>
            <button type="button" name="button" class="callback_button_in_form">Отправить</button>
            <br>
            <input type="checkbox" name="checkbox" value="" checked>
            <span class="personal_text">Я соглен с условиями обработки <a href="#" class="personal_text_link">персональных данных</a></span>
            <div class="close_window js_button_click_close"></div>
            <br>
        </form>
    </div>

    <div class="col margin_button_left js_button_click_active_consule"><a href="#"><div class="button"><span class="button_text">Консультация</span> <img class="button_icon" src="{% static 'images/support_mobile.svg' %}" alt="Консультация"></div></a></div>
    <div class="callback_form_consul js_form_consule">
        <br>
        <p class="callback_top_text">Оставить заявку для консультации</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="name" placeholder="Имя*" class="input_callback"/><br>
            <input type="text" name="phone" placeholder="Телефон*" class="input_callback"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_callback"/><br>
            <button type="button" name="button" class="callback_button_in_form">Отправить</button>
            <br>
            <input type="checkbox" name="checkbox" value="" checked>
            <span class="personal_text">Я соглен с условиями обработки <a href="#" class="personal_text_link">персональных данных</a></span>
            <div class="close_window js_button_click_close"></div>
            <br>
        </form>
    </div>
</div>
