{% load static %}
<div class="container_button">
<!-- <div style="width: 100%; border: 2px solid black; position: static; margin-bottom: 0;" class=""> -->

    <div class="col"><a href="#"><div class="button"><span class="button_text">Тест-драйв</span> <img class="button_icon" src="{% static 'images/test-drive.png' %}" alt="Тест драйв"></div></a></div>
    <div class="col"><a href="#"><div class="button"><span class="button_text">Подробнее</span> <img class="button_icon" src="{% static 'images/info.png' %}" alt="Подробнее"></div></a></div>
    <div class="col"><a href="#"><div class="button"><span class="button_text">Консультация</span> <img class="button_icon" src="{% static 'images/support.png' %}" alt="Консультация"></div></a></div>

</div>
