{% load static %}
        <div class="container main_calculator">
            <br>
            <p class="calculator_text_top">Trade-In Калькулятор</p>
            <br>
            <p class="calculator_text_mid">Получи выгоду от Trade-In!<br> Оцени свой старый автомобиль прямо сейчас!
            <br><br>
        </p>
            <!-- <div class="row">
                <div class="col-6">
                    <div class="form-group">
                            <input type="text" id="dynamic-label-input" placeholder="Enter some text">
                            <label for="dynamic-label-input">Enter some text</label>
                    </div>
                </div>
                <div class="col-6"><input type="text" size="40" value="Модель автомобиля">
                </div>
            <br>
            <div class="row">
                <div class="col-6">3
                </div>
                <div class="col-6">4
                </div>
            </div>
            <br> -->

            <!-- Очень красивая выпадающая менюшка -->
            <div class="row">
                <div class="col-6">
                <section>
    				<select class="cs-select cs-skin-border left_top">
    					<option value="" disabled selected>Марка автомобиля</option>
    					<option value="">RIO</option>
    					<option value="">Optima</option>
    					<option value="">Picanto</option>
    					<option value="">Soul</option>
    				</select>
    			</section>
                </div>
                <div class="col-6">
                <section>
    				<select class="cs-select cs-skin-border right_top">
    					<option value="" disabled selected>Модель автомобиля</option>
    					<option value="">RIO</option>
    					<option value="">Optima</option>
    					<option value="">Picanto</option>
    					<option value="">Soul</option>
    				</select>
    			</section>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                <section>
    				<select class="cs-select cs-skin-border left_bot">
    					<option value="" disabled selected>Год</option>
    					<option value="">2018</option>
    					<option value="">2017</option>
    					<option value="">2016</option>
    					<option value="">2015</option>
    				</select>
    			</section>
                </div>
                <div class="col-6">
                <section>
    				<select class="cs-select cs-skin-border">
    					<option value="" disabled selected>Пробег</option>
    					<option value="без пробега">Без пробега</option>
    					<option value="">100 км</option>
    					<option value="">500 км</option>
    					<option value="">1000 км</option>
    					<option value="">5000 км</option>
    				</select>
    			</section>
                </div>
            </div>
            <br><br>
            <div class="parent">
                <a href="#" class="button">Оценить</a>
            </div>
        </div>
        <script src="{% static 'js/calculator.js' %}"></script>
        <script>
            (function() {
                [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
                    new SelectFx(el);
                } );
            })();
        </script>
