<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>В наличии!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style/font.css' %}">
        <link rel="stylesheet" href="{% static 'style/head_bg.css' %}">
        <link rel="stylesheet" href="{% static 'style/main_block.css' %}">
        <link rel="stylesheet" href="{% static 'style/calculator_text.css' %}">
        <link rel="stylesheet" href="{% static 'style/slaider.css' %}">
        <link rel="stylesheet" href="{% static 'style/foot.css' %}">
    </head>
    <body>
        {% include 'template/head.html' %}
        <!-- Пример оптимы -->
        <!-- По сути костыль который нужен для отступа эллемента... -->
        <div class="indent_1"></div>
        <div class="container main">
            <!-- slaider -->
            <div class="ball_slaider_block">
                <a href="../"><div class="ball_slaider active_slide"></div></a>
                <a href="../rio/"><div class="ball_slaider"></div></a>
                <a href="../sportage/"><div class="ball_slaider"></div></a>
                <a href="../optima/"><div class="ball_slaider"></div></a>
            </div>
            <div class="row">
                <div class="col"> <h1 id="global_name">АВТОМОБИЛИ <br>В НАЛИЧИИ</h1></div>
            </div>
            <!-- По сути костыль который нужен для отступа эллемента... -->
            <div class="indent_2"></div>

             <!-- img -->
             <div class="row">
                 <div class="col">
                     <img src="{% static 'images/default.png' %}" alt="KIA" id="KIA_main">
                 </div>
             </div>

             <!-- По сути костыль который нужен для отступа эллемента... -->
             <div class="indent_3"></div>
             <!-- Кнопки -->
             {% include 'template/button.html' %}


             <!-- line_price -->
             <div class="row" >
                 <div class="col"> <img src="{% static 'images/active.png' %}" alt="" style="width: 100%; margin: 30px;"> </div>
             </div>
         </div>
         {% include 'template/slaider.html' %}
         {% include 'template/calculator.html' %}
         {% include 'template/foot.html' %}
        <script src="{% static 'js/slaider.js' %}" charset="utf-8"></script>
    </body>
</html>
