<div class="bot pc">
    <div class="text_margin_bot">
        <div class="bot_text">
          +7 (342) 249-30-03
        </div>
        <div class="bot_text">
          Вега-Моторс
        </div>
        <div class="bot_text">
          Пермь
        </div>
    </div>
</div>

<div class="bot mobile">
    <div class="text_margin_bot">
        <div class="bot_text button">
          +7 (342) 249-30-03
        </div> <br>
        <div class="bot_text">
          Вега-Моторс
        </div> <br>
        <div class="bot_text">
          Пермь
        </div>
    </div>
</div>
