{% load static %}
<!-- Стили для шапки -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="'style/font.css' ">
<link rel="stylesheet" href="'style/head_bg.css' "> -->
        <div style="z-index: 200;">
            <div class="head_block">
                <img class="KIA_icon" src="{% static 'images/KIA_icon.png' %}" alt="КИА">
                <div class="block_text_head">
                    <div class="head_text" style="color: #FFFFFF">
                        +7 (342) 249-30-03
                    </div>
                    <div class="head_text">
                        Вега-Моторс
                    </div>
                    <div class="head_text">
                        Пермь
                    </div>
                </div>
            </div>
        </div>
