{% load static %}
<!-- Стили для шапки -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="'style/font.css' ">
<link rel="stylesheet" href="'style/head_bg.css' "> -->
        <div style="z-index: 200;"class="container-fluid">
            <div class="row head_block">
                <div class="col-2"></div>
                <div class="col">
                  <img class="KIA_icon" src="{% static 'images/KIA_icon.png' %}" alt="КИА">
                </div>
                <div class="col-2"></div>
                <div class="col head_text">
                  +7 (342) 249-30-03
                </div>
                <div class="col head_text">
                  Вега-Моторс
                </div>
                <div class="col head_text">
                  Пермь
                </div>
                <div class="col"></div>
            </div>
        </div>
