{% load static %}
        <div class="slider">
            <!-- тени -->
            <div class="shadow_slider_right"></div>
            <div class="shadow_slider_left"></div>
            <!-- кнопочки -->
            <div class="slider__arrow slider__left"></div>
            <div class="slider__arrow slider__right"></div>
            <div class="slider__container">
                <!-- Костыль из-за которого нужно многократно дублировать блоки слайдера в хтмл  -->
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/slaider/сeed1.png' %}">
                        <p class="car_name">Новый CEED</p>
                        <p class="remainder">Осталось в продаже:</p>
                        <p class="remainder_b">5 автомобилей</p>
                        <div class="discount">Выгода: <b> 39 000 </b>руб.</div>
                        <div class="img_slider_div">
                            <img class="img_slaider_solo" src="{% static 'images/Test-Drive.svg' %}" alt="">
                            <img class="img_slaider_solo" src="{% static 'images/Info.svg' %}" alt="">
                            <img class="img_slaider_solo" src="{% static 'images/Support.svg' %}" alt="">
                        </div>
                </div>
                <div class="slider__item">
                    <img class="img car" src="{% static 'images/slaider/stinger.png' %}">
                    <p class="car_name">Stinger</p>
                    <p class="remainder">Осталось в продаже:</p>
                    <p class="remainder_b">4 автомобиля</p>
                    <div class="discount">Выгода: <b> 56 000 </b>руб.</div>
                    <div class="img_slider_div">
                        <img class="img_slaider_solo" src="{% static 'images/Test-Drive.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Info.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Support.svg' %}" alt="">
                    </div>
                </div>
                <div class="slider__item">
                    <img class="img car" src="{% static 'images/slaider/sorento.png' %}">
                    <p class="car_name">SORENTO</p>
                    <p class="remainder">Осталось в продаже:</p>
                    <p class="remainder_b">6 автомобилей</p>
                    <div class="discount">Выгода: <b> 69 000 </b>руб.</div>
                    <div class="img_slider_div">
                        <img class="img_slaider_solo" src="{% static 'images/Test-Drive.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Info.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Support.svg' %}" alt="">
                    </div>
                </div>
                <!-- Конец экземпляров. Дальше дублирование -->
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/slaider/сeed1.png' %}">
                        <p class="car_name">CEED</p>
                        <p class="remainder">Осталось в продаже:</p>
                        <p class="remainder_b">5 автомобилей</p>
                        <div class="discount">Выгода: <b> 39 000 </b>руб.</div>
                        <div class="img_slider_div">
                            <img class="img_slaider_solo" src="{% static 'images/Test-Drive.svg' %}" alt="">
                            <img class="img_slaider_solo" src="{% static 'images/Info.svg' %}" alt="">
                            <img class="img_slaider_solo" src="{% static 'images/Support.svg' %}" alt="">
                        </div>
                </div>
                <div class="slider__item">
                    <img class="img car" src="{% static 'images/slaider/stinger.png' %}">
                    <p class="car_name">Stinger</p>
                    <p class="remainder">Осталось в продаже:</p>
                    <p class="remainder_b">4 автомобиля</p>
                    <div class="discount">Выгода: <b> 56 000 </b>руб.</div>
                    <div class="img_slider_div">
                        <img class="img_slaider_solo" src="{% static 'images/Test-Drive.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Info.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Support.svg' %}" alt="">
                    </div>
                </div>
                <div class="slider__item">
                    <img class="img car" src="{% static 'images/slaider/sorento.png' %}">
                    <p class="car_name">SORENTO</p>
                    <p class="remainder">Осталось в продаже:</p>
                    <p class="remainder_b">6 автомобилей</p>
                    <div class="discount">Выгода: <b> 69 000 </b>руб.</div>
                    <div class="img_slider_div">
                        <img class="img_slaider_solo" src="{% static 'images/Test-Drive.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Info.svg' %}" alt="">
                        <img class="img_slaider_solo" src="{% static 'images/Support.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
