{% load static %}
        <div class="slider">
            <!-- тени -->
            <div class="shadow_slider_right pc"></div>
            <div class="shadow_slider_left pc"></div>
            <!-- кнопочки -->
            <div class="slider__arrow slider__left"><img class="slider_mobile_left mobile" src="{% static 'images/slider_mobile_left.png' %}" alt=""></div>
            <div class="slider__arrow slider__right"><img class="slider_mobile_right mobile" src="{% static 'images/slider_mobile_right.png' %}" alt=""></div>
            <div class="slider__container">
                <!-- Костыль из-за которого нужно многократно дублировать блоки слайдера в хтмл  -->
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <div class="slider__item">
                        <img class="img car" src="{% static 'images/car1.png' %}">
                        <div class="item_text_slider color">
                            <p class="text_top">Цвет</p>
                            <p class="text_bot">Deluxe White</p>
                        </div>
                        <div class="item_text_slider engine">
                            <p class="text_top">Двигатель</p>
                            <p class="text_bot">1.6L GAS MT</p>
                        </div>
                        <div class="item_text_slider year">
                            <p class="text_top">Год выпуска</p>
                            <p class="text_bot">2017</p>
                        </div>
                        <div class="item_text_slider complect">
                            <p class="text_top">Комплектация</p>
                            <p class="text_bot">Хэтчбек</p>
                        </div>
                        <div class="address">
                            <p class="text_top">Адрес салона</p>
                            <p class="text_bot">г. Пермь, шоссе Комонавтов, д. 198</p>
                        </div>
                        <div class="img_slider_div pc">
                            <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.svg' %}" alt=""></a>
                            <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.svg' %}" alt=""></a>
                        </div>
                </div>
                <!-- Конец экземпляров. Дальше дублирование -->
            </div>
            <div class="img_slider_div_mobile mobile">
                <a href="#"><img class="img_slaider_solo js_button_click_active_test" src="{% static 'images/Test-Drive.png' %}" alt=""></a>
                <a href="#"><img class="img_slaider_solo js_button_click_active_more" src="{% static 'images/Info.png' %}" alt=""></a>
                <a href="#"><img class="img_slaider_solo js_button_click_active_consule" src="{% static 'images/Support.png' %}" alt=""></a>
            </div>
        </div>
